@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');


.event_grid{
    padding-left: 15px;
    display: grid;
    gap: 15px;
}
.event_title{
    padding-left: 15px ;
    padding-top: 40px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
.trip_name{
    padding-left: 15px ;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}