.trip{
    display: grid;
    grid-template-columns: 3fr 5fr;
    font-family: 'Roboto', sans-serif;
    height: 4cm;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 20px;
    background-color: #EEEEEE;
    border-radius: 6px;
}
.trip:hover{
    cursor: pointer;
}
.pic{
    border-radius: 6px;
    text-align: center;
    margin: auto;
    padding: 60px 0;
}
.trip_title_time{
    padding: 10px 0;
}
.trip_title{
    padding-left: 20px;
    padding-top: 30px;
    font-weight: 900;
}
.trip_time_span{
    padding-left: 20px;
    padding-top: 20px;
    font-weight: 300;
}
.button{
    float: right;
    width: 35px;
    height: 35px;
}
.dropdown:hover{
    
}